.all{
width: 420px;
height: 500px;
border-radius: 15px;
background-color: rgb(50, 80, 130);
position: absolute;
margin-left: 270px;
display: flex;

top: 20px;
}
.img2{
  width: 150px;
  height: 150px;
  position: absolute;
border: 5px solid rgb(0, 0, 0);
border-radius:100%;
margin-left: 400px;
top: 30px;
} 
.Mahamudul{
  position: absolute;
top: 200px;
color: #03edfe;
margin-left:390px;
}
.software{
  position: absolute;
  top: 240px;
  color: #00ff08;
  margin-left:400px;


}
.experience{

  position: absolute;
  top: 300px;
  color: #fff9f9;
  margin-left:280px;

}

.PRO {

  position: absolute;
  top: 30px;
  background-color: #f40ad9;
  margin-left:280px;
color: #01fce7;


}

.Number{
  position: absolute;
  top: 450px;
margin-left:290px ;
color:#03edfe;

}

.Email{

  position: absolute;
  top: 450px;
margin-left:510px ;
color:  #2cff33;
}
.hire button{

  position: absolute;
  top: 400px;
margin-left:420px ;
background-color: rgb(255, 3, 209);
color: #ffffff;
}